MONGODB_URL=YOUR_API_KEY
NEXTAUTH_SECRET=YOUR_API_KEY
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=YOUR_API_KEY
CLERK_SECRET_KEY=YOUR_API_KEY
CLERK_SIGN_IN_URL=YOUR_URL
CLERK_SIGN_UP_URL=YOUR_URL
CLERK_AFTER_SIGN_IN_URL=YOUR_URL
CLERK_AFTER_SIGN_UP_URL=YOUR_URL
OPENROUTER_API_KEY=YOUR_API_KEY
