@import "tailwindcss";
/* globals.css */
@tailwind utilities;
@import 'tailwindcss/preflight'

/* Optional transitions */


 :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  transition: background-color 0.3s, color 0.3s;
}
.animate-blink {
  animation: blink-caret 0.75s step-end infinite;
}
body {
      font-family: Arial, Helvetica, sans-serif; /* Set a default font */
      /* cursor: none; Hide the default cursor to use the custom one */
    }
    
